<div class="cart-add">
  <v-form class="cart-add__form">
    <div class="form-element">
      <v-text-field v-model="item.name" required> </v-text-field>
    </div>
    <div class="form-element form-element--centered form-element--w40">
      <v-text-field v-model="item.quantity" required></v-text-field>
    </div>
    <span>x</span>
    <div class="form-element form-element--centered form-element--w40">
      <v-text-field v-model="item.price" required></v-text-field>
    </div>
    <div class="form-element">
      <v-btn
        icon
        color="white"
        class="form-element__button"
        @click="addNewItem"
      >
        +
      </v-btn>
    </div>
  </v-form>
</div>
