.cart-add {
  width: 350px;
  border: 1px solid black;
  border-radius: 12px;
  padding: 0 20px;
  &__form {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
}
