.cart-add {
  &_form {
    padding: 0 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 350px;
    border: 1px solid black;
    border-radius: 12px;
    gap: 15px;
  }
}

.add-btn {
  .v-btn__content {
    font-size: 35px;
    font-weight: 300;
  }
}
