.cart-add {
  width: 350px;
  border: 2px solid black;
  border-radius: 12px;
  padding: 0 20px;
  &__form {
    align-items: center;
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
}
.form-element {
  &__button {
    background-color: black;
  }
  &--centered {
    input {
      text-align: center;
    }
  }
  &--w40 {
    width: 40px;
  }
}
