.cart-wrapper {
  width: 350px;
}
.cart-header {
  &--text-centered {
    text-align: center;
  }
  &__controls {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    justify-content: space-between;
  }
}
.cart,
.cart-item {
  width: 100%;
}
.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__name {
    width: 200px;
  }
  &__input-wrapper >>> input,
  &__price {
    width: 40px;
  }
}
