.cart-wrapper {
  width: 350px;
  padding: 0 20px;
}
.cart-header {
  &--text-centered {
    text-align: center;
  }
  &__controls {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  &__controls >>> p {
    margin-bottom: 0;
  }
}
.controls-button {
  background: none;
  font-size: 12px;
}
.cart,
.cart-item {
  width: 100%;
}
.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__name {
    width: 200px;
  }
  &__input-wrapper >>> input,
  &__price {
    width: 40px;
  }
  &__price {
    margin: 0;
  }
}
