<div class="cart-wrapper">
  <div class="cart-header">
    <div v-if="!items.length">
      <p class="cart-header--text-centered">No items added</p>
    </div>
    <div v-if="items.length" class="cart-header__controls">
      <button class="controls-button" @click="clear()">CLEAR LIST</button>
      <p class="total">
        <i>In total:</i> {{ items.length }} items for {{ calcSum() }}
      </p>
      <hr />
    </div>
  </div>
  <div v-if="items.length" class="cart">
    <div v-for="item in items" class="cart-item">
      <h4 class="cart-item__name">{{ item.name }}</h4>
      <div class="cart-item__input-wrapper">
        <input type="number" v-model="item.quantity" @change="editItem(item)" />
      </div>
      <p class="cart-item__price">{{ item.quantity * item.price }}</p>
      <div>
        <v-btn icon color="grey" @click="removeItem(item.id)">
          <v-icon>mdi-delete-circle-outline</v-icon>
        </v-btn>
      </div>
    </div>
  </div>
</div>
