.cart-wrapper {
  width: 350px;
  padding: 0 20px;
}
.cart-header {
  margin-bottom: 10px;
  &--text-centered {
    text-align: center;
  }
  &__controls {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
    justify-content: space-between;
  }
  &__controls >>> p {
    margin-bottom: 0;
  }
  &__controls >>> span {
    font-size: 24px;
    font-weight: 500;
    margin-left: 4px;
  }
}
.controls-button {
  background: none;
  font-size: 12px;
}
.cart,
.cart-item {
  width: 100%;
}
.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__name {
    width: 140px;
    font-weight: 500;
  }
  &__input-wrapper >>> input {
    border-bottom: 0.5px solid grey;
  }
  &__input-wrapper >>> input:focus-visible {
    outline-color: black;
  }
  &__input-wrapper >>> input,
  &__price {
    width: 30px;
    text-align: center;
  }
  &__price {
    margin: 0;
  }
}
