<div class="table-wrapper">
  <div class="table-header">
    <div v-if="!items.length">
      <p class="table-header--text-centered">No items added</p>
    </div>
    <div v-if="items.length" class="table-header__controls">
      <v-btn @click="clear()">Clear list</v-btn>
      <p class="total">
        <i>In total:</i> {{ items.length }} items for {{ calcSum() }}
      </p>
    </div>
  </div>
  <div v-if="items.length">
    <div v-for="item in items">
      <h4>{{ item.name }}</h4>
      <div>
        <input type="number" v-model="item.quantity" @change="editItem(item)" />
      </div>
      <div>
        <p>{{ item.quantity * item.price }}</p>
      </div>
      <div>
        <v-btn icon color="grey" @click="removeItem(item.id)">
          <v-icon>mdi-delete-circle-outline</v-icon>
        </v-btn>
      </div>
    </div>
  </div>
</div>
